<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>ICT - Library Management System</title>
</head>
<body>

<section>

    <div class="container">

        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center"> Add New Department </h1>
                <div>
                    <p th:text="${message}" style="color: #318043"></p>
                    <p th:text="${dangerMessage}" style="color: red"></p>
                </div>
                <div class="card-body">

                    <!--alumni form started....-->
                    <form th:action="@{${'/teacher/save/' + departmentId}}" th:object="${teacherDTO}" method="post"
                          enctype="multipart/form-data" onsubmit="return alumniFormValidator()">

                        <!--blog title div....-->
                        <div class="mb-3">
                            <label for="teacherName" class="form-label">Teacher Name</label>
                            <input
                                    type="text"
                                    id="teacherName"
                                    name="name"
                                    th:field="*{name}"
                                    th:value="${teacherDTO.name}"
                                    th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                                    required="required"
                                    class="form-control"
                                    aria-describedby="validationServer03FeedbackAlumniName"
                            >
                            <div
                                    th:each="e : ${#fields.errors('name')}"
                                    th:text="${e}"
                                    id="validationServer03FeedbackAlumniName"
                                    class="invalid-feedback">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="contact" class="form-label">Teacher's Contact</label>
                                    <input
                                            type="text"
                                            id="contact"
                                            name="name"
                                            th:field="*{contact}"
                                            th:value="${teacherDTO.contact}"
                                            th:classappend="${#fields.hasErrors('contact') ? 'is-invalid' : ''}"
                                            required="required"
                                            class="form-control"
                                    >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Teacher's Email</label>
                                    <input
                                            type="email"
                                            id="email"
                                            name="email"
                                            th:field="*{email}"
                                            th:value="${teacherDTO.email}"
                                            th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
                                            required="required"
                                            class="form-control"
                                    >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="bloodGroup" class="form-label">Teacher's Blood Group</label>
                                    <input
                                            type="text"
                                            id="bloodGroup"
                                            name="bloodGroup"
                                            th:field="*{bloodGroup}"
                                            th:value="${teacherDTO.bloodGroup}"
                                            th:classappend="${#fields.hasErrors('bloodGroup') ? 'is-invalid' : ''}"
                                            required="required"
                                            class="form-control"
                                    >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="maritalStatus" class="form-label">Teacher's Marital Status</label>
                                    <input
                                            type="text"
                                            id="maritalStatus"
                                            name="maritalStatus"
                                            th:field="*{maritalStatus}"
                                            th:value="${teacherDTO.maritalStatus}"
                                            th:classappend="${#fields.hasErrors('maritalStatus') ? 'is-invalid' : ''}"
                                            required="required"
                                            class="form-control"
                                    >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="designation" class="form-label">Teacher's Designation</label>
                                    <input
                                            type="text"
                                            id="designation"
                                            name="designation"
                                            th:field="*{designation}"
                                            th:value="${teacherDTO.designation}"
                                            th:classappend="${#fields.hasErrors('designation') ? 'is-invalid' : ''}"
                                            required="required"
                                            class="form-control"
                                    >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="address" class="form-label">Teacher's Address</label>
                                    <input
                                            type="text"
                                            id="address"
                                            name="address"
                                            th:field="*{address}"
                                            th:value="${teacherDTO.address}"
                                            th:classappend="${#fields.hasErrors('address') ? 'is-invalid' : ''}"
                                            required="required"
                                            class="form-control"
                                    >
                                </div>
                            </div>
                        </div>

                        <!--alumni image div....-->
                        <div class="mb-3">
                            <label for="teacherImage" class="form-label">Teacher's Image</label>
                            <input
                                    type="file"
                                    id="teacherImage"
                                    name="teacherImage"
                                    accept="image/*"
                                    th:value="${teacherDTO.image}"
                                    required="required"
                                    class="form-control"
                                    aria-describedby="emailHelp">
                        </div>

                        <!--alumni reset & submit div....-->
                        <button type="reset" class="btn btn-primary">Reset</button>
                        <button type="submit" class="btn btn-success">Submit</button>

                    </form>
                </div>

            </div>
        </div>
    </div>

</section>

</body>
</html>