<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>ICT - Library Management System</title>
</head>
<body>

<section>
    <div class="container">
        <div class="container col-md-5">
            <img th:src="@{/images/Utsha.png}" height="300" width="270">
            <h2>Shazid Mostofa Utsha</h2>
            <b>Student ICT, MBSTU</b><br>
            <b></b>
        </div>
        <div class="container col-md-5">
            <ul>
                <li><a href="https://www.facebook.com/satro.kontho" target="_blank"><b>Facebook</b></a></li>
<!--                <li><a href="https://www.linkedin.com/in/md-tanver-ahammed-1968211b8/"-->
<!--                       target="_blank"><b>LinkedIn</b></a></li>-->
<!--                <li><a href="https://github.com/Tanver-Ahammed" target="_blank"><b>Github</b></a></li>-->
            </ul>
        </div>
    </div>
</section>

</body>
</html>