<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>ICT - Library Management System</title>
    <link rel="stylesheet" href="../static/css/styling.css"/>
</head>
<body>

<section>

    <div class="container" style="text-align: center">
        <h1>Welcome to MBSTU Digital Dairy</h1>
        <div class="card">
            <div class="card-body">
                <img th:src="@{/images/img.png}" height="550" width="720">
            </div>
        </div>
    </div>

</section>

</body>
</html> 